// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  /** primary **/
  --ion-color-primary: #0E4E94;
  --ion-color-primary-rgb: 14, 78, 148;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0c4582;
  --ion-color-primary-tint: #26609f;
  /** secondary **/
  --ion-color-secondary: #EC1B2E;
  --ion-color-secondary-rgb: 236, 27, 46;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 236, 27, 46;
  --ion-color-secondary-shade: #d01828;
  --ion-color-secondary-tint: #ee3243;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** gray **/
  --ion-color-gray: #CECECE;
  --ion-color-gray-rgb: 206, 206, 206;
  --ion-color-gray-contrast: #000000;
  --ion-color-gray-contrast-rgb: 0, 0, 0;
  --ion-color-gray-shade: #b5b5b5;
  --ion-color-gray-tint: #d3d3d3;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #F8F8F8;
  --ion-color-light-rgb: 248, 248, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dadada;
  --ion-color-light-tint: #f9f9f9;
  /** gray for titles **/
  --ion-color-gray-title: #707070;
  --ion-color-gray-title-rgb: 112, 112, 112;
  --ion-color-gray-title-contrast: #ffffff;
  --ion-color-gray-title-contrast-rgb: 255, 255, 255;
  --ion-color-gray-title-shade: #636363;
  --ion-color-gray-title-tint: #7e7e7e;
  /** gray for text **/
  --ion-color-gray-text: #A2A2A2;
  --ion-color-gray-text-rgb: 162, 162, 162;
  --ion-color-gray-text-contrast: #000000;
  --ion-color-gray-text-contrast-rgb: 0, 0, 0;
  --ion-color-gray-text-shade: #8f8f8f;
  --ion-color-gray-text-tint: #ababab;
  /** input placeholder **/
  --ion-color-gray-placeholder: #CECECE;
  --ion-color-gray-placeholder-rgb: 206, 206, 206;
  --ion-color-gray-placeholder-contrast: #000000;
  --ion-color-gray-placeholder-contrast-rgb: 0, 0, 0;
  --ion-color-gray-placeholder-shade: #b5b5b5;
  --ion-color-gray-placeholder-tint: #d3d3d3;
  /** segment colors **/
  --ion-color-primary-segment: #0E4E94;
  --ion-color-primary-segment-rgb: 14, 78, 148;
  --ion-color-primary-segment-contrast: #ffffff;
  --ion-color-primary-segment-contrast-rgb: 14, 78, 148;
  --ion-color-primary-segment-shade: #0c4582;
  --ion-color-primary-segment-tint: #26609f;
  /** complementary gray **/
  --ion-color-complementary-gray: #E2E2E2;
  --ion-color-complementary-gray-rgb: 226, 226, 226;
  --ion-color-complementary-gray-contrast: #FFFFFF;
  --ion-color-complementary-gray-contrast-rgb: 0, 0, 0;
  --ion-color-complementary-gray-shade: #c7c7c7;
  --ion-color-complementary-gray-tint: #e5e5e5;
}

.ion-color-gray-title-1 {
  --ion-color-base: var(--ion-color-gray-title, #707070) !important;
  --ion-color-base-rgb: var(--ion-color-gray-title-rgb, 112, 112, 112) !important;
  --ion-color-contrast: var(--ion-color-gray-title-contrast, #ffffff) !important;
  --ion-color-contrast-rgb: var(--ion-color-gray-title-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-gray-title-shade, #636363) !important;
  --ion-color-tint: var(--ion-color-gray-title-tint, #7e7e7e) !important
}

.ion-color-complementary-gray {
  --ion-color-base: var(--ion-color-complementary-gray);
  --ion-color-base-rgb: var(--ion-color-complementary-gray-rgb);
  --ion-color-contrast: var(--ion-color-complementary-gray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-complementary-gray-contrast-rgb);
  --ion-color-shade: var(--ion-color-complementary-gray-shade);
  --ion-color-tint: var(--ion-color-complementary-gray-tint);
}

.ion-color-gray-text {
  --ion-color-base: var(--ion-color-gray-text);
  --ion-color-base-rgb: var(--ion-color-gray-text-rgb);
  --ion-color-contrast: var(--ion-color-gray-text-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gray-text-contrast-rgb);
  --ion-color-shade: var(--ion-color-gray-text-shade);
  --ion-color-tint: var(--ion-color-gray-text-tint);
}